h1 {text-align:center; font: bold 500%/100% "Times New Roman";}
p {text-align:start; font: bold 200%/100% "Times New Roman", cursive; fill:red;}
body {background: url("http://wheatoncollege.edu/finance/files/2010/12/Picture-005.jpg") no-repeat center; background-size:100%;}