h1 {text-align:center; font: bold 300%/100% "Comic Sans MS";}
p {text-align:center; font: italic 100%/300% "Comic Sans MS", cursive; color:green;}
body {background: url("http://www.wpclipart.com/education/supplies/paper/paper_2/spiral_notebook_paper_page.jpg") no-repeat center; background-size:100%;}